## Using Python to Integrate MongoDB Data into an ETL Process
Modern Data Warehousing and Analytics solutions frequently use languages like Python or Scala to extract data from numerous sources, including relational database management systems, NoSQL database systems, real-time streaming endpoints and Data Lakes. These languages can then be used to perform many types of transformation before then loading the data into a variety of destinations including file systems and data warehouses. This data can then be consumed by data scientists or business analysts.

In this lab you will build upon the **Northwind_DW2** dimensional database from Lab 3; however, you will be integrating new data sourced from an instance of MongoDB. The new data will be concerned with new business processes; inventory and purchasing. You will continue to interact with both the source systems (MongoDB and MySQL), and the destination system (the Northwind_DW2 data warehouse) from a remote client running Python (Jupyter Notebooks). 

Just as in Lab 3, you will fetch data into Pandas DataFrames, perform all the necessary transformations in-memory on the client, and then push the newly transformed DataFrame to the RDBMS data warehouse using a Pandas function that will create the table and fill it with data with a single operation.

### Prerequisites:
#### Import the Necessary Libraries

In [1]:
import os
import json
import numpy
import datetime
import pandas as pd

import pymongo
from sqlalchemy import create_engine

#### Declare & Assign Connection Variables for the MongoDB Server, the MySQL Server & Databases with which You'll be Working

In [2]:
mysql_uid = "root"
mysql_pwd = "Passw0rd123"

atlas_cluster_name = "sandbox.zibbf"
atlas_user_name = "m001-student"
atlas_password = "m001-mongodb-basics"

conn_str = {"local" : f"mongodb://localhost:27017/",
    "atlas" : f"mongodb+srv://{atlas_user_name}:{atlas_password}@{atlas_cluster_name}.mongodb.net"
}

src_dbname = "northwind_purchasing"
dst_dbname = "northwind_dw2"

print(f"Local Connection String: {conn_str['local']}")
print(f"Atlas Connection String: {conn_str['atlas']}")

Local Connection String: mongodb://localhost:27017/
Atlas Connection String: mongodb+srv://m001-student:m001-mongodb-basics@sandbox.zibbf.mongodb.net

#### Define Functions for Getting Data From and Setting Data Into Databases

In [3]:
def get_sql_dataframe(user_id, pwd, db_name, sql_query):
    '''Create a connection to the MySQL database'''
    conn_str = f"mysql+pymysql://{user_id}:{pwd}@localhost/{db_name}"
    sqlEngine = create_engine(conn_str, pool_recycle=3600)
    
    '''Invoke the pd.read_sql() function to query the database, and fill a Pandas DataFrame.'''
    conn = sqlEngine.connect()
    dframe = pd.read_sql(sql_query, conn);
    conn.close()
    
    return dframe


def get_mongo_dataframe(connect_str, db_name, collection, query):
    '''Create a connection to MongoDB'''
    client = pymongo.MongoClient(connect_str)
    
    '''Query MongoDB, and fill a python list with documents to create a DataFrame'''
    db = client[db_name]
    dframe = pd.DataFrame(list(db[collection].find(query)))
    dframe.drop(['_id'], axis=1, inplace=True)
    client.close()
    return dframe


def set_dataframe(user_id, pwd, db_name, df, table_name, pk_column, db_operation):
    '''Create a connection to the MySQL database'''
    conn_str = f"mysql+pymysql://{user_id}:{pwd}@localhost/{db_name}"
    sqlEngine = create_engine(conn_str, pool_recycle=3600)
    connection = sqlEngine.connect()
    
    '''Invoke the Pandas DataFrame .to_sql( ) function to either create, or append to, a table'''
    if db_operation == "insert":
        df.to_sql(table_name, con=connection, index=False, if_exists='replace')
        sqlEngine.execute(f"ALTER TABLE {table_name} ADD PRIMARY KEY ({pk_column});")
            
    elif db_operation == "update":
        df.to_sql(table_name, con=connection, index=False, if_exists='append')
    
    connection.close()

#### Populate MongoDB with Source Data
You only need to run this cell once; however, the operation is *idempotent*.  In other words, it can be run multiple times without changing the end result.

In [4]:
client = pymongo.MongoClient(conn_str["atlas"])
db = client[src_dbname]

# Gets the path of the Current Working Directory for this Notebook, and then Appends the 'data' directory.
data_dir = os.path.join(os.getcwd(), 'data')

json_files = {"suppliers" : 'northwind_suppliers.json',
              "invoices" : 'northwind_invoices.json',
              "purchase_orders" : 'northwind_purchase_orders.json',
              "inventory_transactions" : 'northwind_inventory_transactions.json'
             }

for file in json_files:
    db.drop_collection(file)
    json_file = os.path.join(data_dir, json_files[file])
    with open(json_file, 'r') as openfile:
        json_object = json.load(openfile)
        file = db[file]
        result = file.insert_many(json_object)
        #print(f"{file} was successfully loaded.")

        
client.close()

In [5]:
data_dir

'C:\\Users\\ds2002-02-student\\Documents\\DS-2002-002-main\\03-NoSQL\\data'

### 1.0. Create and Populate the New Dimension Tables
#### 1.1. Extract Data from the Source MongoDB Collections Into DataFrames

In [6]:
query = {}
collection = "suppliers"

df_suppliers = get_mongo_dataframe(conn_str['atlas'], src_dbname, collection, query)
df_suppliers.head(2)

   id     company last_name    first_name      job_title
0   1  Supplier A  Andersen  Elizabeth A.  Sales Manager
1   2  Supplier B    Weiler      Cornelia  Sales Manager

In [7]:
# TODO: Extract data from the "Invoices" collection
query = {}
collection = "invoices"

df_invoices = get_mongo_dataframe(conn_str['atlas'], src_dbname, collection, query)
df_invoices.head(2)

   id  order_id         invoice_date due_date  tax  shipping  amount_due
0   5        31  2006-03-22 16:08:59     None  0.0       0.0         0.0
1   6        32  2006-03-22 16:10:27     None  0.0       0.0         0.0

#### 1.2. Perform Any Necessary Transformations to the DataFrames

In [8]:
df_suppliers.rename(columns={"id":"supplier_key"}, inplace=True)
df_suppliers.head(2)

   supplier_key     company last_name    first_name      job_title
0             1  Supplier A  Andersen  Elizabeth A.  Sales Manager
1             2  Supplier B    Weiler      Cornelia  Sales Manager

In [12]:
# TODO: Perform any required transformations to the "Invoices" dataframe
df_invoices.rename(columns={"id":"invoice_key", "order_id" : "order_key"}, inplace=True)
df_invoices.head(2)

,invoice_key,order_key,invoice_date,due_date,tax,shipping,amount_due
0,5,31,2006-03-22 16:08:59,None,0.0,0.0,0.0
1,6,32,2006-03-22 16:10:27,None,0.0,0.0,0.0

#### 1.3. Load the Transformed DataFrames into the New Data Warehouse by Creating New Tables

Here we will call our **set_dataframe( )** function to create each dimension table. This function expects a number of parameters including the usual connection information (e.g., user_id, password, MySQL server name and database), the *table_name* we need to assign to the table, the *pandas DataFrame* we crafted to define & populate the table, the *name* we need to assign to the *primary_key* column, and finally, the database operation (insert or update).

In [9]:
dataframe = df_suppliers
table_name = 'dim_suppliers'
primary_key = 'supplier_key'
db_operation = "insert"

set_dataframe(mysql_uid, mysql_pwd, dst_dbname, dataframe, table_name, primary_key, db_operation)

In [10]:
df_suppliers.head()

,supplier_key,company,last_name,first_name,job_title
0,1,Supplier A,Andersen,Elizabeth A.,Sales Manager
1,2,Supplier B,Weiler,Cornelia,Sales Manager
2,3,Supplier C,Kelley,Madeleine,Sales Representative
3,4,Supplier D,Sato,Naoki,Marketing Manager
4,5,Supplier E,Hernandez-Echevarria,Amaya,Sales Manager

In [ ]:
# TODO: Upload the "Invoices" dataframe to create the new "dim_invoices" dimension table

In [13]:
dataframe = df_invoices
table_name = 'dim_invoices'
primary_key = 'invoice_key'
db_operation = "insert"

set_dataframe(mysql_uid, mysql_pwd, dst_dbname, dataframe, table_name, primary_key, db_operation)

In [14]:
df_invoices.head()

,invoice_key,order_key,invoice_date,due_date,tax,shipping,amount_due
0,5,31,2006-03-22 16:08:59,None,0.0,0.0,0.0
1,6,32,2006-03-22 16:10:27,None,0.0,0.0,0.0
2,7,40,2006-03-24 10:41:41,None,0.0,0.0,0.0
3,8,39,2006-03-24 10:55:46,None,0.0,0.0,0.0
4,9,38,2006-03-24 10:56:57,None,0.0,0.0,0.0

#### 1.4. Validate that the New Dimension Tables were Created.

In [15]:
sql_suppliers = "SELECT * FROM northwind_dw2.dim_suppliers;"
df_dim_suppliers = get_sql_dataframe(mysql_uid, mysql_pwd, dst_dbname, sql_suppliers)
df_dim_suppliers.head(2)

   supplier_key     company last_name    first_name      job_title
0             1  Supplier A  Andersen  Elizabeth A.  Sales Manager
1             2  Supplier B    Weiler      Cornelia  Sales Manager

In [16]:
# TODO: Validate the new "dim_invoices" table in the northwind_dw2 data warehouse.
sql_invoices = "SELECT * FROM northwind_dw2.dim_invoices;"
df_dim_invoices = get_sql_dataframe(mysql_uid, mysql_pwd, dst_dbname, sql_invoices)
df_dim_invoices.head(2)

,invoice_key,order_key,invoice_date,due_date,tax,shipping,amount_due
0,5,31,2006-03-22 16:08:59,None,0.0,0.0,0.0
1,6,32,2006-03-22 16:10:27,None,0.0,0.0,0.0

### 2.0. Create and Populate the New Fact Tables
#### 2.1. Extract Data from the Source MongoDB Collections Into DataFrames

In [17]:
query = {} # Select all elements (columns), and all documents (rows).

collection = "purchase_orders"

df_pos = get_mongo_dataframe(conn_str['atlas'], src_dbname, collection, query)
df_pos.head(2)

,purchase_order_id,supplier_id,created_by,submitted_date,creation_date,status,expected_date,shipping_fee,taxes,payment_date,...,approved_by,approved_date,submitted_by,purchase_order_detail_id,product_id,quantity,unit_cost,date_received,posted_to_inventory,inventory_id
0,90,1,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,None,...,2.0,2006-01-22 00:00:00,2,238,1,40.0,14.0,2006-01-22 00:00:00,1,59.0
1,91,3,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,None,...,2.0,2006-01-22 00:00:00,2,239,3,100.0,8.0,2006-01-22 00:00:00,1,54.0

In [18]:
# TODO: Extract data for your new "Inventory Transactions" Fact Table
query = {} 

collection = "inventory_transactions"

df_IT = get_mongo_dataframe(conn_str['atlas'], src_dbname, collection, query)
df_IT.head(2)

,id,transaction_type,transaction_created_date,transaction_modified_date,product_id,quantity,purchase_order_id,customer_order_id
0,35,Purchased,2006-03-22 16:02:28,2006-03-22 16:02:28,80,75,None,None
1,36,Purchased,2006-03-22 16:02:48,2006-03-22 16:02:48,72,40,None,None

#### 2.2. Perform Any Necessary Transformations to the DataFrames

In [19]:
column_name_map = {"purchase_order_id" : "purchase_order_key",
                   "supplier_id" : "supplier_key",
                   "purchase_order_detail_id" : "purchase_order_detail_key",
                   "product_id" : "product_key",
                   "inventory_id" : "inventory_key"
                  }

df_pos.rename(columns=column_name_map, inplace=True)
df_pos.insert(0, "fact_purchase_order_key", range(1, df_pos.shape[0]+1))
df_pos

,fact_purchase_order_key,purchase_order_key,supplier_key,created_by,submitted_date,creation_date,status,expected_date,shipping_fee,taxes,...,approved_by,approved_date,submitted_by,purchase_order_detail_key,product_key,quantity,unit_cost,date_received,posted_to_inventory,inventory_key
0,1,90,1,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,238,1,40.0,14.00,2006-01-22 00:00:00,1,59.0
1,2,91,3,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,239,3,100.0,8.00,2006-01-22 00:00:00,1,54.0
2,3,91,3,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,240,4,40.0,16.00,2006-01-22 00:00:00,1,55.0
3,4,91,3,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,241,5,40.0,16.00,2006-01-22 00:00:00,1,56.0
4,5,92,2,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,242,6,100.0,19.00,2006-01-22 00:00:00,1,40.0
5,6,92,2,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,243,7,40.0,22.00,2006-01-22 00:00:00,1,41.0
6,7,92,2,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,244,8,40.0,30.00,2006-01-22 00:00:00,1,42.0
7,8,92,2,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,245,14,40.0,17.00,2006-01-22 00:00:00,1,43.0
8,9,92,2,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,246,17,40.0,29.00,2006-01-22 00:00:00,1,44.0
9,10,92,2,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,247,19,20.0,7.00,2006-01-22 00:00:00,1,45.0
10,11,92,2,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,248,20,40.0,61.00,2006-01-22 00:00:00,1,46.0
11,12,92,2,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,249,21,20.0,8.00,2006-01-22 00:00:00,1,47.0
12,13,90,1,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,250,34,60.0,10.00,2006-01-22 00:00:00,1,60.0
13,14,92,2,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,251,40,120.0,14.00,2006-01-22 00:00:00,1,48.0
14,15,92,2,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,252,41,40.0,7.00,2006-01-22 00:00:00,1,49.0
15,16,90,1,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,253,43,100.0,34.00,2006-01-22 00:00:00,1,61.0
16,17,92,2,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,254,48,100.0,10.00,2006-01-22 00:00:00,1,50.0
17,18,92,2,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,255,51,40.0,40.00,2006-01-22 00:00:00,1,51.0
18,19,93,5,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,256,52,100.0,5.00,2006-01-22 00:00:00,1,37.0
19,20,93,5,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,257,56,120.0,28.00,2006-01-22 00:00:00,1,38.0
20,21,93,5,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,258,57,80.0,15.00,2006-01-22 00:00:00,1,39.0
21,22,91,3,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,259,65,40.0,16.00,2006-01-22 00:00:00,1,57.0
22,23,91,3,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,260,66,80.0,13.00,2006-01-22 00:00:00,1,58.0
23,24,94,6,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,261,72,40.0,26.00,2006-01-22 00:00:00,1,36.0
24,25,92,2,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,262,74,20.0,8.00,2006-01-22 00:00:00,1,52.0
25,26,92,2,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,263,77,60.0,10.00,2006-01-22 00:00:00,1,53.0
26,27,95,4,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,264,80,75.0,3.00,2006-01-22 00:00:00,1,35.0
27,28,90,1,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,265,81,125.0,2.00,2006-01-22 00:00:00,1,62.0
28,29,96,1,5.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,5,266,34,100.0,10.00,2006-01-22 00:00:00,1,82.0
29,30,97,2,7.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,7,267,19,30.0,7.00,2006-01-22 00:00:00,1,80.0
30,31,98,2,4.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,4,268,41,200.0,7.00,2006-01-22 00:00:00,1,78.0
31,32,99,1,3.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,3,269,43,300.0,34.00,2006-01-22 00:00:00,1,76.0
32,33,100,2,9.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,9,270,48,100.0,10.00,2006-01-22 00:00:00,1,74.0
33,34,101,1,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,271,81,200.0,2.00,2006-01-22 00:00:00,1,72.0
34,35,102,1,1.0,2006-03-24 00:00:00,2006-03-24 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-04-04 00:00:00,1,272,43,300.0,34.00,None,0,NaN
35,36,103,2,1.0,2006-03-24 00:00:00,2006-03-24 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-04-04 00:00:00,1,273,19,10.0,7.00,2006-04-17 00:00:00,1,111.0
36,37,104,2,1.0,2006-03-24 00:00:00,2006-03-24 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-04-04 00:00:00,1,274,41,50.0,7.00,2006-04-06 00:00:00,1,115.0
37,38,105,5,7.0,2006-03-24 00:00:00,2006-03-24 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-04-04 00:00:00,7,275,57,100.0,15.00,2006-04-05 00:00:00,1,100.0
38,39,106,6,7.0,2006-03-24 00:00:00,2006-03-24 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-04-04 00:00:00,7,276,72,50.0,26.00,2006-04-05 00:00:00,1,113.0
39,40,107,1,6.0,2006-03-24 00:00:00,2006-03-24 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-04-04 00:00:00,6,277,34,300.0,10.00,2006-04-05 00:00:00,1,107.0
40,41,108,2,4.0,2006-03-24 00:00:00,2006-03-24 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-04-04 00:00:00,4,278,8,25.0,30.00,2006-04-05 00:00:00,1,105.0
41,42,109,2,4.0,2006-03-24 00:00:00,2006-03-24 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-04-04 00:00:00,4,279,19,25.0,7.00,2006-04-05 00:00:00,1,109.0
42,43,110,1,3.0,2006-03-24 00:00:00,2006-03-24 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-04-04 00:00:00,3,280,43,250.0,34.00,2006-04-10 00:00:00,1,103.0
43,44,90,1,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,281,1,40.0,14.00,None,0,NaN
44,45,92,2,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,282,19,20.0,7.00,None,0,NaN
45,46,111,1,2.0,2006-03-31 00:00:00,2006-03-31 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-04-04 00:00:00,2,283,34,50.0,10.00,2006-04-04 00:00:00,1,102.0
46,47,91,3,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,285,3,50.0,8.00,None,0,NaN
47,48,91,3,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,286,4,40.0,16.00,None,0,NaN
48,49,140,6,NaN,2006-04-25 00:00:00,2006-04-25 16:40:51,Approved,None,0.0,0.0,...,2.0,2006-04-25 16:41:33,2,288,85,10.0,9.00,None,0,NaN
49,50,141,8,NaN,2006-04-25 00:00:00,2006-04-25 17:10:35,Approved,None,0.0,0.0,...,2.0,2006-04-25 17:10:55,2,289,6,10.0,18.75,None,0,NaN
50,51,142,8,NaN,2006-04-25 00:00:00,2006-04-25 17:18:29,Approved,None,0.0,0.0,...,2.0,2006-04-25 17:18:51,2,290,1,1.0,13.50,None,0,NaN
51,52,146,2,2.0,2006-04-26 18:26:37,2006-04-26 18:26:37,Submitted,None,0.0,0.0,...,NaN,None,2,292,20,40.0,60.00,None,0,NaN
52,53,146,2,2.0,2006-04-26 18:26:37,2006-04-26 18:26:37,Submitted,None,0.0,0.0,...,NaN,None,2,293,51,40.0,39.00,None,0,NaN
53,54,147,7,2.0,2006-04-26 18:33:28,2006-04-26 18:33:28,Submitted,None,0.0,0.0,...,NaN,None,2,294,40,120.0,13.00,None,0,NaN
54,55,148,5,2.0,2006-04-26 18:33:52,2006-04-26 18:33:52,Submitted,None,0.0,0.0,...,NaN,None,2,295,72,40.0,26.00,None,0,NaN

In [20]:
# TODO: Perform any required transformations to the inventory transactions dataframe
column_name_map = {"product_id" : "product_key",
                   "purchase_order_id" : "purchase_order_key",
                   "customer_order_id" : "customer_order_key"}

df_IT.rename(columns=column_name_map, inplace=True)
df_IT.insert(0, "fact_inventory_order_key", range(1, df_IT.shape[0]+1))
df_IT.head()

,fact_inventory_order_key,id,transaction_type,transaction_created_date,transaction_modified_date,product_key,quantity,purchase_order_key,customer_order_key
0,1,35,Purchased,2006-03-22 16:02:28,2006-03-22 16:02:28,80,75,None,None
1,2,36,Purchased,2006-03-22 16:02:48,2006-03-22 16:02:48,72,40,None,None
2,3,37,Purchased,2006-03-22 16:03:04,2006-03-22 16:03:04,52,100,None,None
3,4,38,Purchased,2006-03-22 16:03:09,2006-03-22 16:03:09,56,120,None,None
4,5,39,Purchased,2006-03-22 16:03:14,2006-03-22 16:03:14,57,80,None,None

#### 2.3. Load Newly Transformed MongoDB Data into the Northwind_DW2 Data Warehouse

In [22]:
dataframe = df_pos
table_name = 'fact_purchase_orders'
primary_key = 'Fact_purchase_order_key'
db_operation = "insert"

set_dataframe(mysql_uid, mysql_pwd, dst_dbname, dataframe, table_name, primary_key, db_operation)

In [23]:
# TODO: Upload the "Inventory Transaction" dataframe to create the new "fact_inventory_transactions" fact table. 
dataframe = df_IT
table_name = 'fact_inventory_transactions'
primary_key = 'fact_inventory_order_key'
db_operation = "insert"

set_dataframe(mysql_uid, mysql_pwd, dst_dbname, dataframe, table_name, primary_key, db_operation)

#### 2.4. Validate that the New Fact Tables were Created

In [24]:
sql_purchase_orders = "SELECT * FROM northwind_dw2.fact_purchase_orders;"
df_fact_purchase_orders = get_sql_dataframe(mysql_uid, mysql_pwd, dst_dbname, sql_purchase_orders)
df_fact_purchase_orders.head(2)

,fact_purchase_order_key,purchase_order_key,supplier_key,created_by,submitted_date,creation_date,status,expected_date,shipping_fee,taxes,...,approved_by,approved_date,submitted_by,purchase_order_detail_key,product_key,quantity,unit_cost,date_received,posted_to_inventory,inventory_key
0,1,90,1,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,238,1,40.0,14.0,2006-01-22 00:00:00,1,59.0
1,2,91,3,2.0,2006-01-14 00:00:00,2006-01-22 00:00:00,Approved,None,0.0,0.0,...,2.0,2006-01-22 00:00:00,2,239,3,100.0,8.0,2006-01-22 00:00:00,1,54.0

In [25]:
# TODO: Validate the correctness of the new "Inventory Transactions" fact table.
sql_inventory_transactions= "SELECT * FROM northwind_dw2.fact_inventory_transactions;"
df_fact_inventory_transaction = get_sql_dataframe(mysql_uid, mysql_pwd, dst_dbname, sql_inventory_transactions)
df_fact_inventory_transaction.head(2)

,fact_inventory_order_key,id,transaction_type,transaction_created_date,transaction_modified_date,product_key,quantity,purchase_order_key,customer_order_key
0,1,35,Purchased,2006-03-22 16:02:28,2006-03-22 16:02:28,80,75,None,None
1,2,36,Purchased,2006-03-22 16:02:48,2006-03-22 16:02:48,72,40,None,None